{% extends 'layout.twig' %}

{% block body %}
  <h2>{{title}}</h2>

  <h3>Question</h3>


  <h4>Vote Tallies</h4>
  <dl>
    <dt>A</dt>
    <dd id="response-a">0</dd>

    <dt>B</dt>
    <dd id="response-b">0</dd>

    <dt>C</dt>
    <dd id="response-c">0</dd>

    <dt>D</dt>
    <dd id="response-d">0</dd>
  </dl>

  <h4>Questions</h4>
  <!-- @TODO: just a static list at first -->
  <table>
    <thead>
      <th>Status</th>
      <th>Question</th>
    </thead>
    <tbody>
      {% for question in questions %}
        <tr>
          <td><button class="question-trigger" id="question-{{ loop.index0 }}" data-index="{{ loop.index0 }}">{{ loop.index0 }}</button></td>
          <td>{{ question }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Actions</h4>
  <button id="present">Present Results</button>
  <button id="clear">Clear and Reset</button>
{% endblock %}

{% block js %}
  <script src="/js/admins.js"></script>
{% endblock %}
