{% extends 'layout.twig' %}

{% block css %}
<link rel='stylesheet' href='/stylesheets/admins.css' />
{% endblock %}

{% block body %}
  <div class="status-dependent preshow">Preshow: You joined the application, we'll tell you when to use it during the show.</div>
  <div class="status-dependent intro">Intro: This is a status we may not actually need</div>
  <div class="status-dependent vote">Vote: A question has been opened and you can vote now</div>
  <div class="status-dependent results">Results: The question is closed and you can see the results now</div>
  <div class="status-dependent close">Close: Put away your phone</div>
  <div class="status-dependent postshow">Postshow: Thank you for coming to the show!</div>

  <h2>{{title}}</h2>

  <button id="preshow">Preshow info</button>
  <button id="intro">Intro a question</button>

  <h3>Question</h3>


  <h4>Vote Tallies</h4>
  <dl>
    <dt>A</dt>
    <dd id="response-a">0</dd>

    <dt>B</dt>
    <dd id="response-b">0</dd>

    <dt>C</dt>
    <dd id="response-c">0</dd>

    <dt>D</dt>
    <dd id="response-d">0</dd>
  </dl>

  <h4>Questions</h4>
  <!-- @TODO: just a static list at first -->
  <table>
    <thead>
      <th>Status</th>
      <th>Question</th>
    </thead>
    <tbody>
      {% for question in questions %}
        <tr>
          <td><button class="question-trigger" id="question-{{ loop.index0 }}" data-index="{{ loop.index0 }}">{{ loop.index0 }}</button></td>
          <td>{{ question }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h4>Actions</h4>
  <button id="results">Present Results</button>
  <button id="close">Close Question</button>
  <button id="postshow">Postshow</button>
{% endblock %}

{% block js %}
  <script src="/js/admins.js"></script>
{% endblock %}
